#navbar-trakto {
    height: 76px;
    display: flex;
    
    .navbar-nav {
        width: 100%;
        max-height: 100%;
        color: #ffffff;
        justify-content: space-between;

        .logo_navbar {
            padding-left: 56px;
            padding-top: 5px;
            height: 56px;
            display: flex;

            #btn-home {
                justify-content: space-around;
                padding: 12px 26px;
                margin-left: 70px;

                :first-child {
                    padding-right: 6px;
                }
            }
        }

        .user_navbar {
            display: flex;
            padding-right: 56px;

            .dropdown-menu-dark {
                margin-left: -5rem;
            }

            .navbar-collapse {
                gap: 16px;

                .date {
                    font-size: 18px;
                }
            }
        }
    }
}