<nav class="navbar navbar-expand navbar-dark bg-dark px-3" id="navbar-trakto" *ngIf="user">
    <div class="navbar-nav">
        <div class="logo_navbar">
            <svg-icon src="assets/images/trakto_logo_bar.svg"></svg-icon>
            <a type="button" routerLink="/home" class="btn btn-outline-secondary" id="btn-home">
                <i class="bi bi-box-arrow-in-left"></i>
                <span>Trocar de ambiente</span>
            </a>
        </div>

        <div class="user_navbar">
            <!-- <span> -->
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <div class="d-flex gap-2">
                        <svg-icon src="assets/images/calendar.svg"></svg-icon>
                        <div class="date">
                            {{ today | date:'dd/MM/yy' }}
                        </div>
                    </div>
                    <svg-icon src="assets/images/vertical_ruler.svg"></svg-icon>
                    <div class="notifications">
                        <svg-icon src="assets/images/bell.svg"></svg-icon>
                    </div>
                    <svg-icon src="assets/images/vertical_ruler.svg"></svg-icon>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown-center">
                            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/avatar.png">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <a class="dropdown-item" (click)="logout()">Logout</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            <!-- </span> -->
        </div>
    </div>
</nav>

<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
