/* You can add global styles to this file, and also import other style files */
.app-container {
    min-height: 320px;
    overflow: hidden;
    background-color: #F5F5F5;

    body {
        background-color: #F5F5F5;
    }
}


.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins.ttf');
  }

