<div class="p-4 d-flex" id="home">
    <div class="module-container">
        <a routerLink="/courseware">
            <h1>Material Didático</h1>
            <img src="assets/images/courseware.png" max-heigh="373" loading="lazy" />
        </a>
    </div>
    <div class="module-container">
        <a routerLink="/courseware">
            <h1>Quiz</h1>
                <img src="assets/images/quiz.png" max-heigh="373" loading="lazy" />
            </a>
    </div>
    <div class="module-container">
        <a routerLink="/courseware">
            <h1>Desenho</h1>
                <img src="assets/images/draw.png" max-heigh="373" loading="lazy" />
            </a>
    </div>
    <div class="module-container">
        <a routerLink="/courseware">
            <h1>Youtube</h1>
                <img src="assets/images/youtube.png" max-heigh="373" loading="lazy" />
            </a>
    </div>
</div>