div#home {
    background-image: url( '../../assets/images/background.png');
    background-color: #fff;
    color: #000;
    background-size: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    a {
        text-decoration: none;
    }
    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48.92px;
        line-height: 130%;
        color: #ffffff;
        text-decoration: none;
        text-align: center;

    }
    .module-container {
        justify-content: none;
        min-height: 543px;
        transition: transform .3s;
    }

    .module-container:hover {
        -ms-transform: scale(1.15); /* IE 9 */
        -webkit-transform: scale(1.15); /* Safari 3-8 */
        transform: scale(1.15);
    }
}