<div id="login" class="container-xxl">
    <div class="card" id="login-card">
        <div class="pb-4">
            <img src="assets/images/logo_trakto_login.svg" />
        </div>
        <h1 class="login-welcome">
            Olá, faça login em sua conta.
        </h1>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">Por favor preencher o campo</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors?.['required']">Por favor preencher o campo</div>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button [disabled]="loading" id="btn-submit" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        <span *ngIf="loading"> Entrando...</span>
                        <span *ngIf="!loading"> Entrar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>