#login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25%;
    background-size: 100%;
    height: 100%;
    #login-card {
        background-color: #F5F5F5;
        border: none;
        width: 300px;
        height: 345px;
        
        .img-login {
            padding-left: 14px;
        }
        .login-welcome {
            padding-left: 14px;
            font-weight: 700;
            font-size: 20px;
        }

        #btn-submit {
            background-color: #1DC763;
            font-size: 14px;
        }
    }
}